<p class="ank-position-fixed ank-bottom-0 ank-bg-accent ank-text-info ank-w-100per text-center mx-auto py-4 mb-0">
    <small class="ank-w-66_66per ank-mx-auto">
        <i class="bi bi-clock me-1"></i>Like the Sokoke cat's careful steps, take one task at a time.
        Your journey to efficient project management starts here.
    </small>
</p>
<button mat-icon-button class="ank-position-fixed ank-bottom-16px ank-e-40px ank-bg-info" aria-label="Close"
    (click)="closeFooter.emit(false)">
    <i class="bi bi-x ank-h-24px d-flex"></i>
</button>